.container-fluid {
    padding: 2rem !important;
}

body {
    font-family: Arial, sans-serif !important;
    margin: 0 !important;
    padding: 20px !important;
    background-color: #a9a9a9 !important; 
}

.desc {
    height: 100px !important;
}

.desc_prod {
    text-align: justify;
    line-height: 1.3em !important;
    height: calc(1.63em * 7) !important; 
    overflow: hidden !important; 
    text-overflow: ellipsis !important; 
    display: -webkit-box !important; 
    -webkit-box-orient: vertical !important; 
    -webkit-line-clamp: 8 !important; 
    word-wrap: break-word !important; 
    white-space: normal !important; 
    max-width: 20rem !important; 
    font-size: 12px !important; 
    overflow: auto !important;
}

h1 {
    margin-bottom: 20px !important;
}



.secao {
    background-color: #fff !important;
    padding: 20px !important;
    border-radius: 5px !important;
    margin-bottom: 20px !important;
}

table{
    overflow: scroll !important;
}

.btn-form{
    margin: 5px;
    width: 6rem;
    height: auto;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: rgb(220, 220, 220);
    color: #000;
}

.btn-form:hover{
    color: white;
    background-image: linear-gradient(to right, rgb(79, 196, 255), rgb(92, 190, 255), rgb(74, 162, 233));

}



.pagination {
    display: flex !important;
    justify-content: center !important;
    list-style: none !important;
    padding: 0 !important;
    margin-top: 20px !important; /* Aumente para 20px ou ajuste conforme desejado */
}

.form-control {
    padding: 10px !important;
    border: 1px solid #ccc !important;
    border-radius: 5px !important;
}

.form-control2 {
    width: 50% !important;
    padding: 10px !important;
    border: 1px solid #ccc !important;
    border-radius: 5px !important;
    margin-bottom: 1rem !important;
}

.btn {
    width: 100% !important;
    margin: 5px 0px 5px 0px !important;
    padding: 10px 15px !important;
    background-color: #007bff !important;
    color: #fff !important;
    border: none !important;
    border-radius: 5px !important;
    cursor: pointer !important;
}

.cadastro {
    width: auto !important; 
}

.btn:hover {
    background-color: #0056b3 !important;
}

table {
    width: 100% !important;
    border-collapse: collapse !important;
    margin-top: 20px !important;
}

th, td {
    padding: 10px !important;
    text-align: center !important; 
    vertical-align: middle !important; 
    border: 1px solid #ccc !important;
}

th {
    background-color: #eee !important;
}

.pagination {
    display: flex !important;
    justify-content: center !important;
    list-style: none !important;
    padding: 0 !important;
}

.pagination li {
    margin: 0 5px !important;
}

.pagination .pagina {
    margin: 0 5px !important; /* Adiciona 5px de margem à esquerda e à direita */
}

.pagination button {
    padding: 5px 10px !important;
    border: none !important;
    border-radius: 5px !important;
    cursor: pointer !important;
    background-color: #007bff !important;
    color: #fff !important;
}

.pagination button:hover {
    background-color: #0056b3 !important;
}

.status-pendente {
    background-color: #ffbbc1 !important; /* Vermelho claro */
    color: #a41624 !important;
}

.status-processando {
    background-color: #fff3cd !important; /* Amarelo claro */
    color: #856404 !important;
}

.status-pago {
    background-color: #cff8c9 !important; /* Verde claro */
    color: #1c9c2b !important;
}

.status-producao {
    background-color: #c6eeff !important; /* Azul claro */
    color: #15a9b1 !important;
}

.status-finalizado {
    background-color: #b7bdff !important; /* Cinza claro */
    color: #030c6f !important;
}

.status-cancelado {
    background-color: #e4e2e2 !important; /* Vermelho claro */
    color: #827c7d !important;
}

.status-reembolsado {
    background-color: #9dcc9d !important; /* Cinza claro */
    color: #375e19 !important;
}

.status-processandoR {
    background-color: #fffd6c !important; /* Amarelo dourado */
    color: #6a640c !important;
}


.form-control {
    text-transform: capitalize;
}





@media (max-width: 600px) {
    .form-control,
    .btn {
        width: 100% !important;
    }

    table {
        display: block !important;
        overflow-x: auto !important;
        white-space: nowrap !important;
    }
}
