/* Estilo geral da página */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

/* Container principal */
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
}

/* Título da página */
h2 {
    font-size: 2rem;
    margin-bottom: 30px;
    color: #333;
    text-transform: uppercase;
}

/* Container dos produtos */
#product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;  /* Espaço entre os cards */
    justify-content: space-evenly;
}

/* Estilo do card do produto */
.product-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;  /* Reduzindo a largura dos cards em telas pequenas */
    display: flex;
    flex-direction: row; /* Organiza a imagem e os detalhes em linha */
    justify-content: space-between;
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
	height: 200px;
}

.product-card:hover {
    transform: translateY(-5px); /* Levanta o card ao passar o mouse */
}

.product-card.selected {
    outline: 2px solid #27ae60;
	; /* Borda externa para indicar seleção */
    transform: scale(1.01); /* Prevenindo o aumento de tamanho ao selecionar o card */
    box-shadow: 0 4px 10px rgba(147, 151, 155, 0.3); /* Sombra suave */
}

/* Estilo da imagem do produto */
.product-image {
    width: 23%;  /* A imagem agora ocupa 28% da largura do card */
    height: 200px;  /* Reduzindo a altura da imagem */
    overflow: hidden;
    background-color: #eee;
}

.product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* Detalhes do produto */
.product-details {
    padding: 15px;
    width: 50%; /* Os detalhes ainda ocupam 50% da largura */
    display: flex;
    flex-direction: column; /* Organiza os detalhes verticalmente */
    justify-content: space-between;
}

.product-name {
    font-size: 1.1rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
	height: auto;
}

.product-description {
    text-align: justify;
    font-size: 0.75rem;
    color: #777;
    margin-bottom: 15px;
    line-height: 1.4;
    height: 90px; /* Reduzindo a altura do texto */
    overflow: hidden;
    text-overflow: ellipsis;
}


.product-quantity {
    font-size: 1rem;
    color: #555;
    margin-bottom: 10px;
	font-weight: bold !important;
}

/* Preço do produto */
.product-info {
    font-size: 1.1rem;
    font-weight: bold;
    color: #27ae60;
    text-align: right;
    padding-right: 30px;  /* Pequeno ajuste no padding */
    margin-top: 15px;
    width: 20%; /* O preço ocupa agora 18% da largura */
}

.product-id{
	color: #000;
	font-weight: normal !important;
}

/* Estilo das mensagens */
#message {
    margin-bottom: 20px;
}

.alert {
    padding: 15px;
    font-size: 1rem;
    border-radius: 5px;
}

.alert-warning {
    background-color: #f8e71c;
    color: #6f6f1f;
}

.alert-danger {
    background-color: #e74c3c;
    color: white;
}

.img-resumo{
	width: 100px;
	height: 100px;
	border-radius: 10px;
}

.selected-item{
	margin-bottom: 15px;
}



/* Responsividade */

/* Para telas médias (tablets e telas menores) */
@media (max-width: 768px) {
    #product-list {
        flex-direction: column; /* Cards ficam empilhados um abaixo do outro */
        align-items: center;
    }

    .product-card {
        width: 90%; /* Faz com que os cards ocupem 90% da largura */
        flex-direction: column; /* Organiza os itens verticalmente */
    }

    .product-image {
        width: 100%; /* Imagem ocupa 100% da largura */
        height: 200px; /* Ajuste na altura */
    }

    .product-details {
        width: 100%; /* Detalhes ocupam 100% da largura */
    }

    .product-price {
        width: 100%; /* Preço ocupa 100% da largura */
        text-align: left; /* Alinha à esquerda */
        padding-right: 0;
    }
}

/* Para telas muito pequenas (celulares em retrato) */
@media (max-width: 480px) {
    .product-card {
        width: 100%;  /* Um card por linha */
        flex-direction: column; /* Garante que os detalhes fiquem embaixo da imagem */
    }

    .product-name, .product-description, .product-quantity, .product-price {
        font-size: 1rem; /* Aumenta o tamanho da fonte para uma melhor legibilidade */
    }

    .product-price {
        text-align: left;
        padding-right: 0;
    }
}
