:root {
    --background-color: #FFFFFF;
    --section: #FF3333;
    --details: #ba1a1a;
    --footer: #494949;
    --footer2: #373737;
    --feedback: #E3E3E3;
    --bttnHeader: #a6a4a4;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

header {
    display: none;
}

.padding {
    padding: 1.5rem;
}

#headerMobile {
    height: 50svh;
    background: linear-gradient(to bottom, #FF3333, #373737);
}

main {
    background-color: var(--background-color);
}

#apresentacao {
    padding-bottom: 1.5rem;
}

#apresentacao p {
    font-size: 1rem;
}

#apresentacaoText {
    margin-bottom: 2.5rem;
}

#apresentacaoBttn {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.bttnBubble {
    width: 8rem;
    border-style: none;
    border-radius: 4px;
    padding: .2rem 1rem;
    display: flex;
    gap: .5rem;
    color: var(--background-color);
    background-color: var(--section);
}

.bttnBubble img {
    width: 2rem;
    height: 2rem;
    align-self: center;
}

ul {
    padding-left: 0 !important;
}

h1 {
    font-size: 2rem !important;
}

h2 {
    font-size: 1.5rem !important;
}

h3 {
    font-size: 1.1rem !important;
}

p {
    text-align: justify;
    font-weight: lighter;
}

#bubblesDisp {
    padding: 2.5rem 0;
}

#bubblesDispText {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sobreOPedido {
    background-color: var(--feedback);
    padding: 2.5rem 2rem;
}

#sobreText {
    margin-bottom: 2.5rem;
}

#sobreInput {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#sobreInput button {
    border-style: none;
    background-color: var(--background-color);
    width: 40%;
    height: 2rem;
    border-radius: 4px;
}

#input {
    height: 10rem;
}

#socialContato {
    background-color: var(--footer);
    padding: 4rem 2rem;
    color: var(--background-color);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#socialContato h3 {
    margin-bottom: 1rem;
}

#socialContato a {
    text-decoration: none;
    color: var(--background-color);
    font-weight: lighter;
    display: flex;
    flex-direction: column;
}

#footerDireitos {
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--footer2);
    color: var(--background-color);
    font-size: 1rem;
    margin-bottom: 3rem;
}

.navMobile {
    height: 3rem;
    background-color: var(--footer);
    padding: 1rem 2rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 9999;
}

.navMobile>ul {
    display: flex;
    justify-content: space-between;
}

.navMobileLink {
    list-style: none;
}

.navMobileLink img {
    height: 1.5rem;
}

#mainCategoria {
    padding: 5rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mainCategoria h1 {
    text-align: center;
}

#grid {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.card {
    width: 20rem;
    display: flex;
    gap: .3rem;
    border-radius: 10px;
}

.cardImg {
    height: 20rem;
    background-color: var(--footer2);
}

.cardText {
    background-color: var(--section);
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--background-color);
}

@media screen and (min-width: 1200px) {
    #headerMobile {
        display: none;
    }

    header {
        display: block;
        padding: 0 7.5rem;
        display: flex;
        background-color: var(--background-color);
        font-weight: 500;
        font-size: 1.2rem;
        color: var(--footer2);
        align-items: center;
        justify-content: space-between;
        position: sticky;
        top: 0;
        right: 0;
        left: 0;
        position: fixed;
        z-index: 999;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    }

    header nav ul {
        margin: 0 !important;
        padding: 0 !important;
    }

    .my-lg-0 {
        display: flex;
        gap: 1rem;
        padding: 1rem;
    }

    .padding {
        padding: 0;
    }

    .navMobile {
        display: none;
    }

    #logo img {
        width: 3.5rem;
        width: 3rem;
    }


    .perfilBttn {
        height: 3rem;
        width: 3rem;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

    .perfilBttn img {
        height: 2rem;
    }

    nav ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        gap: 5rem;
    }

    .bttnHeader {
        padding: 1.5rem 2.5rem;
        background-color: transparent;
        color: var(--footer2);
        font-weight: 700;
        border: none;
        font-size: 1rem;
        display: flex;
        align-items: center;
    }

    a {
        text-decoration: none !important;
        color: unset !important;
    }

    .bttnHeader:hover {
        color: var(--details);
    }

    .searchBar {
        height: 1.3rem;
    }

    main {
        margin-top: 4.9rem;
    }

    #apresentacao {
        background: linear-gradient(to bottom, #FF3333, #373737);
        padding: 3.5rem 7rem;
        display: flex;
        gap: 15rem;
        height: 94svh;
    }

    #bannerAp {
        background-color: var(--background-color);
        width: 40%;
        border-radius: 8px;
        padding: 2rem;
        display: flex;
    }

    .bttnBubble {
        align-self: flex-end;
        width: 15rem;
        height: 3.7rem;
        padding: 1.5rem;
        justify-content: center;
        align-items: center;
        -webkit-transition: all 200ms ease-in-out;
        -ms-transition: all 200ms ease-in-out;
        -moz-transition: all 200ms ease-in-out;
        transition: all 200ms ease-in-out;
    }

    #bubblesDisp {
        padding: 7.5rem 0;
    }

    p {
        font-size: 1.25rem;
    }

    h1 {
        font-size: 2.5rem !important;
    }

    h2,
    h3 {
        font-size: 2rem !important;
    }

    #sobreOPedido {
        display: flex;
        padding: 8rem 7rem;
        gap: 5rem;
        justify-content: center;
    }

    #sobreText {
        width: 30%;
    }

    #sobreInput {
        width: 40%;
    }

    #sobreInput button {
        align-self: flex-end;
        width: 8rem;
        height: 2rem;
        font-size: 1.25rem;
    }

    #sobreInput button:hover {
        color: var(--details);
    }

    #mainCategoria {
        padding: 6rem 7rem 10rem;
    }

    #grid {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    .card {
        width: 15rem;
        border: none !important;

    }

    .cardImg {
        height: 14rem;
        border-radius: 4px 4px 0 0;
    }

    .cardText {
        height: 2.5rem;
        font-weight: lighter;
        border-radius: 0 0 4px 4px;
    }

    #socialContato {
        display: flex;
        flex-direction: row;
        gap: 4rem;
        padding: 6rem 0 6rem 12rem;
        text-decoration: none;
        line-height: 2rem;
    }

    #footerDireitos {
        padding: 3rem 0;
        margin-bottom: 0;
    }
}